body {
    background:#4682B4 ;
    font-family:Arial, Helvetica, sans-serif;
}

.assignment {
    display:flex;
     padding:10px;
     margin:10px; 
     background:lightgray;
}

.assignment img {
    width:200px;
    padding:10px;
    border:4px dashed #9370DB;
}

.assignment img {
    border:4px dashed white;
}

h1 {
    color: darkorchid;
    text-align: center;
}

a {
    text-decoration:none;
    color:#9370DB;
}

a:hover {
    color:white;
}